<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="ChatBotToken" value="paracatu" />-->
    <add key="ChatBotToken" value="552344156:AAFlXbfWtVOGfO6VjNaH0i-ywefTaz65LAc" />
    
    <!--TEMPO DE CONTRIBUIÇÃO-->
    <!--RURAL-->
    <add key="RuralTempoContribuicaoM" value="25" />
    <add key="RuralTempoContribuicaoMNova" value="15" />
    <add key="RuralTempoContribuicaoF" value="25" />
    <add key="RuralTempoContribuicaoFNova" value="15" />
    <!--FUNCIONÁRIO PUBLICO-->
    <add key="PublicoTempoContribuicaoM" value="25" />
    <add key="PublicoTempoContribuicaoMNova" value="25" />
    <add key="PublicoTempoContribuicaoMNovaMaximo" value="40" />
    <add key="PublicoTempoContribuicaoF" value="25" />
    <add key="PublicoTempoContribuicaoFNova" value="25" />
    <add key="PublicoTempoContribuicaoFNovaMaximo" value="40" />
    <!--SETOR PRIVADO-->
    <add key="PrivadoTempoContribuicaoM" value="95" />
    <add key="PrivadoTempoContribuicaoMNova" value="15" />
    <add key="PrivadoTempoContribuicaoMNovaMaximo" value="40" />
    <add key="PrivadoTempoContribuicaoF" value="85" />
    <add key="PrivadoTempoContribuicaoFNova" value="15" />
    <add key="PrivadoTempoContribuicaoFNovaMaximo" value="40" />

    <!--IDADE MINIMA-->
    <!--RURAL-->
    <add key="RuralIdadeMinimaM" value="65" />
    <add key="RuralIdadeMinimaMNova" value="60" />
    <add key="RuralIdadeMinimaF" value="60" />
    <add key="RuralIdadeMinimaFNova" value="57" />
    <!--FUNCIONÁRIO PUBLICO-->
    <add key="PublicoIdadeMinimaM" value="65" />
    <add key="PublicoIdadeMinimaMNova" value="65" />
    <add key="PublicoIdadeMinimaF" value="60" />
    <add key="PublicoIdadeMinimaFNova" value="62" />
    <!--SETOR PRIVADO-->
    <add key="PrivadoIdadeMinimaMNova" value="65" />
    <add key="PrivadoIdadeMinimaFNova" value="62" />

  </appSettings>
</configuration>
